In [1]:
import numpy
from pandas import DataFrame, Series

In [13]:
def numpy_dot():

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea',
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

    olympic_metal_count = {'countries': Series(countries),
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}

    olympic_metal_count_df = DataFrame(olympic_metal_count)
    metal_count = olympic_metal_count_df[['gold', 'silver', 'bronze']]
    
    points = numpy.dot(metal_count, [4,2,1])

    # create a dictionary points and countries
    olympic_points = {'country_name': Series(countries), 'points': Series(points)}

    # insert the specific dictionary into the dataframe..
    olympic_points_df = DataFrame(olympic_points)
    return olympic_points_df

In [14]:
'''
Notes:
matrixes mult. with the metal and the array of 4,2,1 works bc 
metal_count creates a 26 by 3 table, with 26 individual info for three categories
then we have the points, which is a 3 by 1, the matrixes work because 3 = 3
Examples: 
13*4+11*2+9*1 = 83
'''

'\nNotes:\nmatrixes mult. with the metal and the array of 4,2,1 works bc \nmetal_count creates a 26 by 3 table, with 26 individual info for three categories\nthen we have the points, which is a 3 by 1, the matrixes work because 3 = 3\nExamples: \n13*4+11*2+9*1 = 83\n'

In [15]:
numpy_dot()

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1